extends ../application.pug

block content
	.container
		.row
			.col-xs-6.offset-xs-2
				br
				h1 Change password:
				hr
				form(action="/change-password/" + user.passwordResetToken method="POST")
					div(class="form-group")
						lable(for="password") New password:
						input(name="password" type="password" class="form-control" )
					div(class="form-group text-xs-center")
						button(type="submit" class="btn btn-ls btn-success float-xs-left") Submit new password
