html
   head
      title Marie's Blog
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
      link(rel="stylesheet" href="/stylesheet.css")

   body
      nav(class="navbar navbar-light bg-faded")
         a(class="navbar-brand" href="/")
            h2 Marie's Blog
         a(href="/" class="btn btn-default btn-md float-xs-right") Logout
         a(href="/admin/posts/new" class="btn btn-default btn-md float-xs-right") New Post
         a(href="/admin/posts" class="btn btn-default btn-md float-xs-right") Admin Panel
         a(href="/login" class="btn btn-default btn-md float-xs-right") Login
         a(href="/register" class="btn btn-default btn-md float-xs-right") Register





      block content

   script(src='https://code.jquery.com/jquery-3.1.1.js', integrity='sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=', crossorigin='anonymous')
