extends ./application.pug

block content
	.container
		.row
			.col-xs-5.offset-xs-2
				br
				h1 Forgot Password:
				hr
				form(action="/forgot-password" method="POST")
					div(class="form-group")
						lable(for="email") Email:
						input(name="email" type="text" class="form-control")
					div(class="form-group text-xs-left")
						button(type="submit" class="btn btn-ls btn-success") Send reset password email
