extends ./application.pug

block content
	.container
		h2 Read our Blog Posts:
		each post in posts
			.row
				.col-xs-8
					.card.card-block
						a(href='/'+ post.slug)
							h4=post.title
						p=post.content
				.col-xs-4
					.card.card-block
						h3 Information
						h5 Created at:
						p=post.createdAt
						h5 Updated at:
						p=post.updatedAt
