extends ./application.pug

block content
	.container
		each post in posts
			.row
				.col-xs-8
					.card.card-block
						h4=post.title
						p=post.content
				.col-xs-4
					.card.card-block
						h4 Information
						p But I must explain to you how all this mistaken idea of denouncing pleasure and praising.
