extends ./application.pug

block content
	.container
		.row
			.col-xs-6.offset-xs-2
				if error
					div(class="alert alert-danger" role="alert")
						span= error.message
				h1 Login:
				hr
				form(action="/login" method="POST")
					div(class="form-group")
						lable(for="email") Email:
						input(name="email" type="text" class="form-control")
					div(class="form-group")
						lable(for="password") Password:
						input(name="password" type="password" class="form-control" )
					h6
						a(href='/forgot-password') Forgot your password?
					hr
					div(class="form-group text-xs-center")
						button(type="submit" class="btn btn-block btn-success") Login
