
.container {
   padding-top: 30px;
   background-color:
}

a {
   color: black;
   hover: black;
}

a:-webkit-any-link !important {
    color: -webkit-link;
    text-decoration: none;
    cursor: auto;
}
