
.container {
   padding-top: 30px;
   background-color:
}

a {
   color: black;
}

a:hover {
   color:red;
}

a:-webkit-any-link !important {
    color: -webkit-link;
    text-decoration: none;
    cursor: auto;
}

navbar a {
   color: white;
}
