extends ../application.pug

block content

	.container
		h1 All Posts:
		each post in posts
			.row
				.col-xs-12
					.card.card-block
						a(href='/'+ post.slug)
							h4=post.title
						h6=post.slug
						p=post.content
							.col-xs-2.offset-xs-8
								a(href='/admin/posts/edit')
									button(type="submit" class="btn btn-warning btn-block") Edit Blog Post
							.col-xs-2
								form(action="/admin/posts/" + post.id method="POST")
									input(type="hidden" name="_method" value="DELETE")
									button(type="submit" class="btn btn-danger ny-post-delete-button") Delete Blog Post
