extends ../application.pug

block content
	.container
		.row
			.col-xs-8.offset-xs-2
				if errors
					each error in errors
						div(class="alert alert-danger" role="alert")
							span= error.message
				br
				h1 Create a Blog Post:
				hr
				form(action="/admin/posts" method="POST")
					div(class="form-group")
						lable(for="title") Post Title:
						input(name="title" type="text" class="form-control" id="post-title")
					div(class="form-group")
						lable(for="slug") Post Slug:
						input(name="slug" type="text" class="form-control" id="post-slug")
					div(class="form-group")
						lable(for="content") Content:
						textarea(name="content" class="form-control" rows=20 id="post-content")
						div(class="form-group")
							input(typ="hidden" name="UserId" value=user.id class="form-control")
						div(class="form-group text-xs-center")
							button(type="submit" class="btn btn-ls btn-success") Create a New Blog Post
