extends ../application.pug

block content
	.container
		.row
			.col-xs-10
				.card.card-block
					h2= post.title
					p= post.content

				h4 Comments:
				each comment in comments
					.card.card-block
						p= comment.content

				form(action="/comments/" + post.id method="POST")
					input(type="hidden" name="PostId" value=post.id)
					div(class="form-group")
						label(for="comment")
							h6 Write a Comment:
						textarea(name="content" class="form-control" rows=4 id="PostId")
					div(class="form-group text-xs-center")
						button(type="submit" class="btn btn-success float-xs-right") Add comment
